body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(215, 237, 245);
}

.layout-center {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
}

/* .layout-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.layout-app-header {
  color: white;
  background-color: #007661;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
} */
