<div class="listImages">
  <button class="carouselBtn" (click)="decSlice()" [disabled]="disableSliceInit">
    <mat-icon>chevron_left</mat-icon>
  </button>
  @for (image of imageList | slice: sliceInit : sliceEnd; track image) {
    <div id="{{ image.id }}">
      <img
        [class]="isSelected(image.id) ? 'imageItem selectedImage' : 'imageItem'"
        src="{{ image.src }}"
        alt="{{ image.title }}"
        (click)="imageFromListSelected(image.id)"
      />
    </div>
  }
  <button class="carouselBtn" (click)="incSlice()" [disabled]="disableSliceEnd">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
