.listImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 20px;
}

.imageItem {
  height: 200px;
  object-fit: contain;
}

.selectedImage {
  border: 4px solid red;
}
