$FooterColor: lemonchiffon;

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.page-title {
  background-color: yellowgreen;
  font-size: 24px;
  color: white;
  box-sizing: border-box;
  padding: 10px;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  width: 200px;
  background-color: darkolivegreen;
}

main {
  flex: 1;
  padding: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 30px;
  justify-content: space-evenly;
}

.card {
  background-color: white;
  border: 1px solid black;
  width: 250px;
  height: 175px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.item {
  border-radius: 2%;
  padding: 15px;
  box-sizing: border-box;
}

img {
  width: 100px;
  border-radius: 50%;
}

.member-name {
  text-align: center;
}

footer {
  height: 50px;
  background-color: $FooterColor;
  box-sizing: border-box;
  padding: 15px;
}

$heigthMenuItem: 40px;
.menu-container {
}

ul {
  margin: 0px;
  padding: 0px;
}

.menu-title {
  height: $heigthMenuItem;
  font-size: 16px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  height: $heigthMenuItem;
  background-color: $FooterColor;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
