body {
  height: 800px;
  width: 1200px;
  background-color: yellow;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid black;
}

.page-title {
  background-color: lightgreen;
  height: 50px;
  font-size: 24px;
  color: white;
  box-sizing: border-box;
  padding: 10px;
}

.page-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex: wrap;
  height: 75%;
}

nav {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // flex: wrap;
}

.menu-container {
  height: 100%;
  width: 200px;
  background-color: red;
  border: 1px solid black;
}

main {
  //display: contents;
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //overflow-x: auto;
  //flex: wrap;
  flex: 1;
  background-color: lightpink;
}

.list {
  //flex: 1;

  background-color: lightpink;
  border: 1px solid black;
}

// .card {
//   background-color: white;
//   border: 2px solid lightgray;
//   height: 175px;
//   flex: 1;
//   //width: 200px;

//   display: flex;
//   flex-direction: column;
//   flex: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 5px;
// }

// .item {
//   border-radius: 5%;
//   padding: 20px;
//   box-sizing: border-box;
// }

// img {
//   height: 100px;
//   width: 100px;
//   border-radius: 50%;
// }

footer {
  background-color: lemonchiffon;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
