$FooterColor: lemonchiffon;

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.page-title {
  background-color: yellowgreen;
  font-size: 24px;
  color: white;
  box-sizing: border-box;
  padding: 10px;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  background-color: darkolivegreen;
}

main {
  flex: 1;
  padding: 20px;
  background-color: whitesmoke;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.member-name {
  text-align: center;
}

footer {
  height: 50px;
  background-color: $FooterColor;
  box-sizing: border-box;
  padding: 15px;
}

$heigthMenuItem: 40px;

.menu-title {
  height: $heigthMenuItem;
  font-size: 16px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  height: $heigthMenuItem;
  background-color: $FooterColor;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

@media screen and (width > 768px) {
  nav {
    width: 180px;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  .menu-container {
    position: sticky;
    top: 0;
  }

  .list {
    gap: 15px 30px;
  }

  .card {
    background-color: white;
    border: 1px solid black;
    width: 250px;
    height: 175px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .item {
    border-radius: 2%;
    padding: 15px;
    box-sizing: border-box;
  }

  img {
    width: 100px;
    border-radius: 50%;
  }
}

@media screen and (width <= 768px) {
  .toolbar {
    display: none;
  }

  .menu-title {
    display: none;
  }

  nav {
    height: 60px;
    position: sticky;
    top: 0;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    width: 100px;
    display: inline-block;
    text-align: center;
  }

  .list {
    gap: 5px;
    align-items: baseline;
  }

  .card {
    background-color: white;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  img {
    width: 125px;
    border-radius: 50%;
  }
}

@media screen and (width <= 450px) {
  nav {
    height: 180px;
  }

  ul {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  li {
    width: 100%;
  }

  .card {
    background-color: white;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  img {
    width: 100px;
    border-radius: 50%;
  }

  .member-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 150px;
  }
}
