<div class="galleyButtons">
  <button class="galleryBtn" [disabled]="isDisabledPrevBtn()" (click)="navigateToAnterior()">
    <mat-icon>arrow_circle_left</mat-icon>
    <span>Anterior</span>
  </button>
  <button class="galleryBtn" [disabled]="isDisabledNextBtn()" (click)="navigateToSiguiente()">
    <mat-icon>arrow_circle_right</mat-icon>
    <span>Siguiente</span>
  </button>
  <button class="galleryBtn" (click)="navigateToAumentar()">
    <mat-icon>zoom_in</mat-icon>
    <span>Aumentar</span>
  </button>
  <button class="galleryBtn" (click)="navigateToDisminuir()">
    <mat-icon>zoom_out</mat-icon>
    <span>Disminuir</span>
  </button>
  <button class="galleryBtn" (click)="navigateToPlay()">
    <mat-icon>play_circle</mat-icon>
    <span>Play</span>
  </button>
  <button class="galleryBtn" (click)="navigateToStop()">
    <mat-icon>stop_circle</mat-icon>
    <span>Stop</span>
  </button>
</div>
