$backgroundColor: #141414;

body {
  background-color: $backgroundColor;
  color: white;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  font-family: "Jost";
  font-optical-sizing: auto;
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px 40px 10px;

  background-color: $backgroundColor;
  position: sticky;
  top: 0;
}

.header-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}

.button {
  width: 50px;
  height: 40px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: white;
    color: blue;
  }
}

.platform-title {
  font-size: 20px;
}

.header-buttons {
  font-size: 10px;
}

#top-text {
  &:before {
    content: "5";
    font-weight: bold;
  }
}

section {
  margin-bottom: 50px;
}

.top {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 4px;
}

@mixin carrousselImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
}

.first {
  @include carrousselImages();
}

.second {
  @include carrousselImages();
}

.top-item {
  min-width: 225px;
  flex: 1;
}

.item {
  min-width: 250px;
  flex: 1;
  &:hover {
    flex-grow: 1.25;
  }
}

img {
}

.top-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
