@use "css/styleA.scss";
//@use "css/styleB.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
}

.box {
  display: block;
  height: 100px;
  width: 120px;
  font-family: cursive;
  box-sizing: border-box;
  padding: 20px;
  border-radius: var(--border-radius);
  border: 1px solid darkgray;

  &.color1 {
    background-color: var(--color1);
  }

  &.color2 {
    background-color: var(--color2);
  }

  &.color3 {
    background-color: var(--color3);
  }
  &.shadow {
    box-shadow: var(--box-shadow);
  }
}

.boxParagrahs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

.parag {
  &.principalFont {
    font-family: var(--principalFont);
  }

  &.secondaryFont {
    font-family: var(--secondaryFont);
  }
}
