.grid-container {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1fr);
  padding: 10px;
  border: 1px solid lightgray;
}

.imageBoat {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemDate {
  align-self: flex-end;
  justify-self: end;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.greenText {
  color: lightgreen;
}

.button {
  background-color: limegreen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}
