@use 'sass:color';

$base-color-1: red;
$base-color-2: blue;
$base-color-3: green;

$font-color: white;

body {
  //background-color: aquamarine;
}
/*
.container-1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
  */

  @function setBaseColor($containerType) {
    @return $base-color-1;

  // @if $containerType == 1 {
  //   @return $base-color-1;
  // } @else if $containerType == 2 {
  //   @return $base-color-2;
  // } @else if $containerType == 3 {
  //   @return $base-color-3;
  // } @else {
  //   @return null;
  // }
  
}

.box {
  width: 100px;
  height: 100px;
  margin: 5px;    
  border-radius: 5px;

  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-weight: bold;
  background-color: setBaseColor(1);
}

.container-1 {
    display: flex;
    flex-direction: row;
    gap: 5px;

    // display: grid;
    // grid-template-columns: repeat(9, 100px);
    // grid-template-rows: repeat(1, 100px);
  }



@mixin boxdegradation($base-color) {
  .container-1 {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  @for $i from 1 through 4 {
    .container-1 > .darken-#{$i} {
      background-color: color.adjust($base-color, $lightness: $i * -5%);
      color: color.adjust($font-color, $lightness: $i * 50%);
    }
  }

  .base-color {
    background-color: $base-color;
    color: $font-color;
  }

  @for $i from 1 through 4 {
    .container-1 > .lighten-#{$i} {
      background-color: color.adjust($base-color, $lightness: $i * 5%);
      color: color.adjust($font-color, $lightness: $i * -50%);;
    }
  }
}

.boxcoloring {
 // @include boxdegradation($base-color-1);
  //@include boxdegradation($base-color-2);
  //@include boxdegradation($base-color-3);
}

// @for $i from 1 through 3 {
//   .container-#{$i} {
//     display: flex;
//     flex-direction: row;
//   }
// }

// @for $i from 1 through 4 {
//   .container-1 > .darken-#{$i} {
//     background-color: color.adjust($base-color-1, $lightness: $i * -5%);
//     color: color.adjust($font-color, $lightness: $i * 50%);
//   }

//   .container-2 > .darken-#{$i} {
//     background-color: color.adjust($base-color-2, $lightness: $i * -5%);
//     color: color.adjust($font-color, $lightness: $i * 50%);
//   }

//   .container-3 > .darken-#{$i} {
//     background-color: color.adjust($base-color-3, $lightness: $i * -5%);
//     color: color.adjust($font-color, $lightness: $i * 50%);
//   }
// }

// .base-color {
//   background-color: $base-color-1;
//   color: $font-color;
// }

// @for $i from 1 through 4 {
//   .container-1 > .lighten-#{$i} {
//     background-color: color.adjust($base-color-1, $lightness: $i * 5%);
//     color: color.adjust($font-color, $lightness: $i * -50%);;
//   }

//   .container-2 > .lighten-#{$i} {
//     background-color: color.adjust($base-color-2, $lightness: $i * 5%);
//     color: color.adjust($font-color, $lightness: $i * -50%);
//   }

//   .container-3 > .lighten-#{$i} {
//     background-color: color.adjust($base-color-3, $lightness: $i * 5%);
//     color: color.adjust($font-color, $lightness: $i * -50%);
//   }
// }
