@use 'tailwindcss';
$backgroundColor: #484848;

body {
  background-color: $backgroundColor;
  color: white;
  margin: 0px;
  padding: 10px;
  height: 100vh;
}

.columnLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@layer base {
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}
