<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.scss" />
    <title>Ejercicio 4</title>
  </head>

  <body>
    <div class="grid-container">
      <img class="imageBoat" src="./resources/boat.png" />
      <h1>Title</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus
        dapibus placerat. Proin et nulla mattis, lobortis lorem vitae, posuere
        mi. Aenean elementum metus a lectus tempus, sed volutpat nunc cursus.
        Phasellus egestas odio vel.
      </p>
      <div class="itemDate">
        <p>
          <span class="bold">Published:</span
          ><span class="greenText">March 20, 2020</span>
        </p>
      </div>
      <button class="button">More Info</button>
    </div>
  </body>
</html>
